/* Global
=====================================*/
*,
*:before,
*:after {
	outline: none;
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background: #F4F1D5;
}
header,
nav,
section,
footer,
div {
	display: block;
	position: relative;
}
.container {
	max-width: 860px;
	margin: 0 auto;
}
.page {
	height: 100%;
	height: auto !important;
	min-height: 100%;
	padding-bottom: 90px;
}
.page-title {
	text-transform: uppercase;
}
input,
textarea,
select {
	box-sizing: border-box;
}
a,
a:hover {
	text-decoration: underline;
	transition: all .4s;
	color: #000;
}
a:focus {
	outline: none;
}
a.btn {
	text-decoration: none;
}
.dropdown-menu {
	border-radius: 0;
}
.form-horizontal .form-group {
	margin: 0 0 15px;
}
.form-horizontal .control-label {
	padding-top: 13px;
	text-align: left;
}
.form-control {
	display: inline-block;
	width: 100%;
	margin: 5px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	border: 1px solid #c8ccce;
	outline: none;
}
.form-control.error {
	border: 1px solid #f00;
}
abbr {
	color: #eb0003;
}
.btn {
	display: inline-block;
	padding: 7px 15px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	border-radius: 0;
}
.btn-primary,
.btn-default {
	color: #7a797e;
	background: #EFECD5;
	border: 1px solid #7a797e;
	transition: .4s;
}
.btn-primary:hover,
.btn-default:hover {
	color: #48474a;
	background: #E6E3CB;
	border-color: #48474a;
}
.btn-callback {
	margin-top: 5px;
	float: right;
}
.btn.active,
.btn:active {
	box-shadow: none;
}
.form-control {
	border-radius: 0;
}
.inner {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.45);
	overflow: hidden;
	transition: all .8s;
}
.inner .label {
	display: block;
	position: absolute;
	top: -500px;
	left: 50%;
	width: 250px;
	height: 250px;
	margin-top: -125px;
	margin-left: -125px;
	background: url(../image/label.png) no-repeat 0 0;
	transition: all .8s;
}
.inner .lock {
	display: block;
	position: absolute;
	top: -500px;
	left: 50%;
	width: 250px;
	height: 250px;
	margin-top: -125px;
	margin-left: -125px;
	font-size: 80px;
	text-align: center;
	color: #ffffff;
	transition: all .8s;
}
.inner .title {
	display: block;
	position: absolute;
	padding-bottom: 5px;
	bottom: -100%;
	left: 50%;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	transition: all .65s;
	transform: translateX(-50%);
}
.inner .title:after {
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	width: 80px;
	height: 2px;
	content: '';
	background: #ffffff;
	transform: translateX(-50%);
}
.inner:hover .label {
	top: 245px;
}
.inner:hover .lock {
	top: 200px;
}
.inner:hover .title {
	bottom: 50%;
}
.fadeIn {
	opacity: 0;
}
.fadeIn:hover {
	opacity: 1;
}
.thumb {
	width: 250px;
	height: auto;
	margin: 35px 0 30px;
}
.color-item .color-box {
	width: 20px;
	height: 20px;
	border: 1px solid #ffffff;
	box-sizing: border-box;
}
.catalog .color-item .color-box {
	display: inline-block;
}

.product .color-item {
	text-align: center;
	margin: 0 10px;
}
.product .color-item .color-box {
	display: block;
}
.table-size {
	border: none;
}
.table-size td,
.table-size th,
.table-size .size-item {
	min-width: 25px;
	padding: 5px 10px;
}
.table-size td,
.table-size .size-items .size-item {
	text-align: center;
	background: #c8ccce;
}
.table-size .size-items,
.table-size .size-headers {
	float: left;
	overflow: hidden;
	margin-left: 1px;
}
.table-size .size-items {
	cursor: pointer;
}
.table-size .size-items:hover .size-item {
	background: #b8bcbe;
}
.table-size .size-items.disabled {
	cursor: default;
}
.table-size .size-items.selected {
	background: #b8bcbe;
}
.table-size .size-items.selected .size-item {
	background: #a8acae;
}
.table-size .size-items.disabled:hover {
	background: transparent;
}
.table-size .size-items.disabled .size-item {
	background: #e8ecee;
	color: #c8ccce;
}

.table-size .size-headers .size-item {
	font-weight: bold;
}
.table-size .size-item {
	margin: 1px 0;
}
.table-size th {
	text-align: left;
}

.table-size.readonly .size-items,
.table-size.readonly .size-items:hover {
	cursor: default;
	background: none;
}

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-danger {
	color: #eb0003;
}
.divider {
	display: block;
	width: 100%;
	height: 2px;
	background: #adb3b6;
}
:focus::-webkit-input-placeholder {
	color: transparent;
}
:focus::-moz-placeholder {
	color: transparent;
}
:focus:-moz-placeholder {
	color: transparent;
}
:focus:-ms-input-placeholder {
	color: transparent;
}
.alert {
	margin: 0;
	padding: 12px 0;
	color: #ffffff;
	border: none;
	border-radius: 0;
}
.alert.alert-danger {
	background: #eb0003;
}
.alert-ohsnap {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  position: fixed;
  top: 15px;
  right: 15px;
  box-shadow: 0 0 5px rgba(0,0,0,.35);
}
.alert-ohsnap.alert-red {
  color: white;
  background-color: #DA4453;
}
.alert-ohsnap.alert-green {
  color: white;
  background-color: #37BC9B;
}
.alert-ohsnap.alert-blue {
  color: white;
  background-color: #4A89DC;
}
.alert-ohsnap.alert-yellow {
  color: white;
  background-color: #F6BB42;
}
.alert-orange {
  color:white;
  background-color: #E9573F;
}
#ohsnap {
	z-index: 999;
}

/* Header
=====================================*/
#logo {
	padding: 0 10px;
}

#logo > img {
	padding: 0;
}

.breadcrumb {
	display: none;
}

.navbar-top {
	height: 40px;
}

.top-menu {
	width: 100%;
	height: 40px;
	background: #EFECD5;
    border-bottom: 1px solid #E6E3CB;
}
.top-menu .menu-item {
	display: inline-block;
	height: 40px;
	float: left;
}
.top-menu .menu-item > * {
	display: block;
	padding: 0 10px;
	text-transform: uppercase;
	color: #7a797e;
	line-height: 40px;
	text-decoration: none;
}
.top-menu .menu-item:hover {
	color: #7a797e;
}
.top-menu .menu-item > * > img {
	padding-top: 7px;
}
.left-menu,
.right-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
.left-menu .menu-item,
.right-menu .menu-item {
	border-left: 1px solid #adb3b6;
}
.left-menu .menu-item:first-child,
.right-menu .menu-item:first-child {
	border-left: none;
}
.left-menu .menu-item:hover,
.right-menu .menu-item:hover,
.left-menu .active,
.right-menu .active {
	background: #E6E3CB;
}
.left-menu .menu-item.title a {
    text-decoration: none;
    color: #666;
}

.left-menu .menu-item.title:hover {
    background: none;
}

.right-menu {
	float: right;
}
.right-menu a:hover,
.right-menu .active {
	background: #E6E3CB;
}
.right-menu .lang {
	margin: 0;
	padding: 0;
}
.right-menu .lang li {
	border: none;
}

/* Mobile menu
=====================================*/
.button__mobile-menu {
	display: none;
	position: relative;
	width: 40px;
	height: 40px;
	float: right;
}
.button__mobile-menu .fa-navicon {
	padding: 6px 0 0 5px;
	font-size: 26px;
	color: #7a797e;
	cursor: pointer;
}
.mobile-menu {
	display: none;
}

/* Content
=====================================*/
.collection,
.about,
.magazine,
.old-collection {
	height: 528px;
	padding: 0;
}
.collection img,
.about img,
.magazine img,
.old-collection img {
	width: 100%;
	height: 528px;
	object-fit: cover;
	overflow: hidden;
}
.product-item {
	overflow: hidden;
}
.product-item .product-desc {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.45);
	opacity: 0;
	transition: all .65s;
}
.product-item:hover .product-desc {
	opacity: 1;
}
.product-item .product-desc .product-size,
.product-item .product-desc .product-color {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.product-item .product-desc .product-name {
	display: block;
	position: absolute;
	bottom: -100%;
    left: 50%;
	padding-bottom: 5px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	transition: all .65s;
	transform: translateX(-50%);
}
.product-item .product-desc .product-name:after {
	display: block;
	position: absolute;
	width: 50px;
	height: 2px;
	top: 100%;
    left: 50%;
    content: '';
    background: #ffffff;
	transform: translate(-50%, -50%);
}
.product-item:hover .product-desc .product-name {
	bottom: 50%;
}
.product-item .product-desc .product-size h4,
.product-item .product-desc .product-color h4 {
	margin: 0 0 5px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
.product-item .product-desc .product-size {
	margin: 10px 0;
}
.product-item .product-desc .product-size .size-item {
	font-size: 14px;
}
.product-item:hover .product-desc {
	bottom: 0;
}

/* Product
=====================================*/
.product .product-image {
	padding-right: 10px;
}
.product .product-content {
	padding-left: 10px;
}
.product-image .image-big {
	margin: 35px 0 10px;
}
.product-content h1 {
	margin: 30px 0 5px;
	font-size: 34px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.product-content .product-sku {
	font-size: 14px;
	text-transform: uppercase;
}
.product-content .product-add {
	padding: 20px 0;
	border-bottom: 1px solid #adb3b6;
}
.product-content h4 {
	margin-bottom: 5px;
	font-size: 16px;
}
.product-content .product-description {
	padding: 10px 0;
	font-size: .9em;
}
.product-content .product-description p {
	margin-bottom: 5px;
}
.product-content .cart-status {
	text-transform: uppercase;
}

/* Responsive
=====================================*/
.remodal {
	background: #e3e5e6;
}
.remodal .fa {
	color: #c8ccce;
}
.remodal .form-control,
.remodal .btn {
	display: block;
	margin: 0 auto 20px;
}

/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 14px;
	display: block;
	padding: 0 10px;
	text-transform: uppercase;
	color: #7a797e;
	line-height: 40px;
	background: none;
}
#cart.open > .btn {
	color: #7a797e;
	box-shadow: none;
	text-shadow: none;
}
#cart .dropdown-menu {
	background: #F4F1D5;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 207px;
	margin-top: 40px;
	border-top: none;
	box-shadow: 0 2px 5px rgba(0,0,0,.05);
}
#cart .dropdown-menu.pull-right {
	right: -1px;
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}

.product .thumbnails {
	padding: 10px 0 10px 0;
	overflow: hidden;
}

.product .thumbnails .thumbnail {
	margin: 0 10px 0 0;
	border-radius: 0;
}

.languages, .currency {
	cursor: pointer;
}

.languages .dropdown-menu, .currency .dropdown-menu {
	padding: 0;
	margin: 0;
	min-width: 169px;
	background: #F4F1D5;
	border: 1px solid rgba(0,0,0,.15);
	border-top: none;
	border-radius: 0;
	box-shadow: 0 2px 5px rgba(0,0,0,.05);
}

.currency .dropdown-menu {
	min-width: 152px;
}

.languages .dropdown-menu-right {
	right: -1px;
}

.languages.open .dropdown-menu .menu-item a {
	width: 55px;
	text-align: center;
}

.form-horizontal .form-group > input.form-control,
.form-horizontal .form-group > select.form-control {
	width: 79%;
	float: right;
}
.form-horizontal .form-group > .control-label {
	width: 19%;
}

.form-horizontal .form-group > .text-danger {
	margin-left: 22%;
	clear: both;
}

.tooltip.in {
	opacity: 1;
	filter: alpha(opacity=100);
}

.tooltip .tooltip-inner {
	max-width: 320px;
}

.tooltip img {
	width: 300px;
	height: 150px;
}

.information .contacts {
	font-size: 16px;
}

/* Footer
=====================================*/
footer {
	padding: 10px 0;
	background: #191919;
	clear: both;
	position: relative;
	z-index: 10;
	min-height: 90px;
	margin-top: -90px;
    font-size: 14px;
}

.callback .title {
	margin-top: 0;
	padding-top: 0;
	text-transform: uppercase;
	color: #fff;
}

.categories-previous .item {
    width: 33%;
    height: 400px;
    display: block;
}

footer .center {
    text-align: center;
}

footer .copyright {
    color: #dddddd;
    line-height: 70px;
}

footer form button[type=submit] {
    margin-bottom: 0;
}

/* Modal
=====================================*/
.modal-content {
	border-radius: 0;
}

.modal-header,
.modal-footer {
	border: none;
}

#quickOrderModal .modal-content {
	background: #F6F5E8;
}

/* Media queries
=====================================*/
@media (max-width: 1200px) {
	#product .col-2 {
		width: 50%;
	}
}

@media (max-width: 992px) {
	footer .copyright {
		display: none;
	}
}

@media (max-width: 860px) {
	.container {
		padding: 0 15px 15px;
	}
	.right-menu {
		display: none;
	}
	.button__mobile-menu {
		display: block;
	}
}

@media (max-width: 640px) {
	#product .col-2 {
		width: 100%;
	}
	.product .product-image {
		padding-right: 0;
	}
}

@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}