/* Global
=====================================*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
body {
  height: 100%;
  height: auto !important;
  min-height: 100%;
  background: url(../img/bg.jpg) no-repeat 50% 80px;
  background-size: cover;
}
header,
nav,
section,
footer,
div {
  display: block;
  position: relative;
  width: 100%;
}
a,
:hover {
  text-decoration: none;
  color: #454347;
}
/* Header
=====================================*/
header .top-menu {
  height: 40px;
  background: #e3e5e6;
}
header .top-menu .left-top-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
header .top-menu .left-top-menu li {
  display: block;
  text-transform: uppercase;
  line-height: 40px;
  border-left: 1px solid #d4d6d8;
  float: left;
}
header .top-menu .left-top-menu li:first-child {
  border-left: none;
}
header .top-menu .left-top-menu li a {
  display: block;
  padding: 0 15px;
  height: 40px;
}
header .top-menu .left-top-menu li a:hover {
  background: #d4d6d8;
}
header .top-menu .left-top-menu li a img {
  margin-top: 7px;
}
header .top-menu .left-top-menu li.active a {
  background: #d4d6d8;
}
header .top-submenu {
  height: 40px;
  background: #1b1b1f;
}
header .top-submenu div {
  text-align: center;
  line-height: 40px;
  color: #ffffff;
}
/* Content
=====================================*/
.box-label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-top: -110px;
  margin-left: -150px;
}
.box-contact {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-top: -110px;
  margin-left: -150px;
  padding-top: 90px;
  padding-left: 55px;
  color: #454347;
  background: url(../img/bg-label.jpg) no-repeat 0 0;
  box-sizing: border-box;
}
/* Media
=====================================*/
@media (max-width: 768px) {
  body {
    background: #d4d6d8;
  }
  header {
    display: none;
  }
  .box-center {
    margin-top: -150px;
  }
}
